# Dependencies
node_modules/
.pnpm-debug.log*

# Build output
dist/
dist_*

# Generated documents (output directory)
docs/.vitepress/cache
docs/.vitepress/dist

# IDE / System files
.DS_Store
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
Thumbs.db

.env
